$primary: #11AAAA;
$gray: #202020;
$background: #EEF8F9;
$backgroundProfile: #c4cecf;
$red: #FF3131;
$terciary: #12988F;
$white: #FFFFFF;

$paddingLeft: 200px;
$paddingRight: 200px;

$paddingLeftMobile: 20px;
$paddingRightMobile: 20px;